'scopeName': 'source.sfst'
'fileTypes': [
  'fst'
]

'patterns': [
  {
    'include': '#value'
  }
]

'repository':
  'alphabet':
    'match': 'ALPHABET'
    'name': 'variable.language.sfst'

  'variable':
    'match': '\\$[A-Za-z0-9-]*\\$'
    'name': 'constant.language.sfst'

  'agreement':
    'match': '\\#\\w*\\#'
    'name': 'storage.function.sfst'

  'tags':
    'match': '\\<\\w*\\>'
    'name': 'storage.type.string.sfst'

  'metacharacter':
    'match': '\\\\.'
    'name': 'constant.character.escape.sfst'

  'replacement':
    'match': '(\\^|\\_|\\\\|\\/)\\-\\>'
    'name': 'variable.language.sfst'

  'comment':
   'begin': '%'
   'beginCaptures':
     '0':
      'name': 'comment.sfst'
    'end': '\\n'
    'name': 'comment.line.percentage.sfst'

  'value':
    'comment': 'the \'value\' diagram'
    'patterns': [
      {
        'include': '#variable'
      }
      {
        'include': '#alphabet'
      }
      {
        'include': '#agreement'
      }
      {
        'include': '#replacement'
      }
      {
        'include': '#tags'
      }
      {
        'include': '#metacharacter'
      }
      {
        'include': '#comment'
      }
    ]
